/* You can not modify anything in the HTML */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    color: #ffffff;
    font-family: 'Montserrat';
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #111111;
    padding: 3vh 80px;
    height: 5vh;
}
.logo{
    width: 70%;
}
.line{
    width: 2px;
    height: 40px;
    background-color: #ffffff;
    margin: 0px 60px;
}
.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 1090px;
}
.list-item{
    padding: 0px 30px;
    font-size: 15px;
}
.list-item:first-of-type:after{
    content: ' v';
    font-size: 17px;
    font-family:  'Gill Sans MT';
}
.button-small{
    padding: 10px 30px;
    background-color: #ae00c1;
    border-radius: 7px;
    color: #fff;
    font-weight: 600;
}
.hero{
    background-image: url(./assets/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: 1700px 780px;
    height: 89vh;
}
.hero-heading{
    width: 40%;
    font-size: 60px;
    margin-top: 120px;
    display: inline-block;
    word-spacing: 5px;

}
.hero-description{
    font-size: 20px;
}
.button-large{
    padding: 15px 30px;
    background-color: #ae00c1;
    border: none;
    border-radius: 10px;
    margin-top: 70px;
    color: #fff;
    font-size: 20px;
    font-weight: 600
}
